<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@v1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">
    <script src="script/script.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .car-details-container {
            max-width: 1000px;
            margin: 20px auto;
            background-color: #fcfbfb;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .car-image {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
        }

        .car-name {
            font-size: 32px;
            color: #333;
            margin-top: 15px;
        }

        .car-type {
            font-size: 18px;
            margin-top: 5px;
        }

        .car-company {
            font-size: 18px;
            margin-top: 5px;
        }
        .car-company a{
          color:#333;
          text-decoration: none;
        }

        .car-type a {
          color: #333;
          text-decoration: none;
        }
        .car-company a:hover{
          color: red;
        }
        .car-type a:hover{
          color: red;
        }

        .car-price {
            font-size: 20px;
            color: #e44d26;
            margin-top: 10px;
        }

        .car-details {
            margin-top: 20px;
        }

        .add-to-cart-btn {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #e44d26;
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            margin-top: 20px;
            border: none;
            cursor: pointer;
        }
    </style>
    <style>
      .rating {
      display: inline-block;
      font-size: 50px;
      cursor: pointer;
    }

    .rating .star {
      color: #ccc;
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 25px;
    }

    .rating .star:hover,
    .rating .star.active {
      color: #ffcc00;
    }

    .review-container {
      display: block;
      max-width: 100%;
      margin: 10px;
    }

    .review-container-2 {
      display: flex;
      max-width: 100%;
      margin: 10px;
    }
    .review-text {
  border: 2px solid #101010;

  border-radius: 10px;
  margin-bottom: 10px;
  /* Add more specific styles to override default styles */
  
  box-sizing: border-box;
  width: 100%;
}


    .edit-button {
      background-color: #999b9be1;
      color: #0b0a0a;
      border: none;
      padding: 5px;
      border-radius: 6px;
      cursor: pointer;
      width: 15px; /* Set a fixed width for the button */
      box-sizing: content-box; /* Ensure the fixed width includes padding */
      height: 20px;
      margin-left: 5px;
    }

    .edit-icon {
      margin-right: 5px;
    }
    .submit-edit {
      padding: 5px;
      border-radius: 6px;
      cursor: pointer; 
      box-sizing: content-box; /* Ensure the fixed width includes padding */
      height: 25px;
      margin-left: 5px;
    }
    </style>

    <script>
        function addToCart2(model_color_id,user_id) {
        if(user_id != 0) {
          fetch('/addtocart', {
          method: 'POST',
          headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({model_color_id,user_id})
        }).then(res=>res.json())
        .then(res=>{
          if(res.message == "ok") {
            alert( "Added to wishlist" );
          }
        })
        } 
        if(user_id == 0) {
          alert("Please log in to add to wishlist");
          window.location.href = '/login'
        }
      }
    </script>

</head>
<body>
    <%-include('layouts/navbar2.ejs',{authorized: authorized,user_info:user_info}) %>
    <main>
        <div class="container car-details-container">
            <img src="<%=product[0].CAR_IMAGE_URL%>" alt="Car Image" class="img-fluid car-image">
            <h1 class="car-name"><%=product[0].MODEL_NAME%></h1>
            <p class="car-type"><a href="<%=product[0].CAR_TYPE_URL%>"><%=product[0].TYPE_NAME%></a></p>
            <p class="car-company"><a href="<%=product[0].COMPANY_URL%>"><%=product[0].NAME%></a></p>
            <% if(average_rating[0].AVERAGE > 0) {%>
              <p class="">Rating: <%= average_rating[0].AVERAGE %> </p>
            <% } %>
            <% if(average_rating[0].AVERAGE == 0.00) {%>
              <p class="">Rating: no rating </p>
            <% } %>
            <% if(product[0].DISCOUNT == 0 ) { %>
              <p class="car-price">BDT <%=product[0].PRICE%></p>
            <% } %>
            <% if(product[0].DISCOUNT != 0 ) { %>
              <p class="car-price" style="text-decoration: line-through;color: red;">BDT <%=product[0].PRICE%></p>
              <p class="car-price">BDT <%= product[0].PRICE - (product[0].DISCOUNT * product[0].PRICE / 100) %></p>
            <% } %>
            <div class="car-details">
                <p><strong>Color:</strong> <%=product[0].COLOR%></p>
                <%if(product[0].STOCK > 0 ) {%>
                  <p><strong>Stock:</strong> <span style="color: #218838;font-weight: bold;">In Stock</span></p>
                <%}%>
                <%if(product[0].STOCK == 0 ) {%>
                  <p><strong>Stock:</strong> <span style="color: red;font-weight: bold;">Out Of Stock</span></p>
                <%}%>
                <p><strong>Seat Capacity:</strong> <%=product[0].SEAT_CAP%> seats</p>
                <p><strong>Engine Capacity:</strong> <%=product[0].ENGINE_CAP%>cc</p>
                <p><strong>Warranty:</strong> <%=product[0].WARRANTY%> years</p>
                <p><strong>Launch Date:</strong> <%=product[0].LAUNCH_DATE%></p>
            </div>
            <%if(product[0].STOCK > 0 ) {%>
              <button class="add-to-cart-btn" onclick="addToCart2('<%=product[0].MODEL_COLOR_ID%>','<%=user_info[0].ID%>')">Add To Wishlist</button>
            <%}%>
            <%if(product[0].STOCK == 0 ) {%>
              <button class="add-to-cart-btn" disabled style="cursor: not-allowed;">Add To Wishlist</button>
            <%}%>
        </div>
        <div class="container write-review">
          <% if(eligible == 1) { %>
            <div class="container mt-5">
              <% if(rated == 1) { %>
                <h3>Your rating for this car :</h3>
              <% } %>
              <% if(rated == 0) { %>
                <h3>Rate this car :</h3>
              <% } %>
              <div class="rating" onclick="setRating(event)">
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
              </div>
            </div>
            <div class="container mt-5">
              <form onsubmit="comment(event)">
                <div class="mb-3">
                  <label for="reviewInput" class="form-label">Write a Review (Maximum 1000 characters)</label>
                  <textarea class="form-control" id="reviewInput" rows="4" maxlength="1000" placeholder="Type your review here..." required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Review</button>
              </form>
            </div>
          <% } %>
          <% if(user_comment.length != 0) { %>
            <label for="">My reviews: </label><br>
            <% for(let i=0 ;i < user_comment.length ; i++) { %>
              <div class="review-container-2">
                <textarea class="review-text" name="user_review" id="reviewTextArea<%= i + 1 %>" maxlength="1000" readonly> <%= user_comment[i].COMMENT_TEXT %></textarea>
                <div class="edit-buttons">
                  <button class="edit-button" onclick="toggleEditMode(this,'reviewTextArea<%= i + 1 %>','s_button<%= i+1 %>')"><span class="edit-icon">✎</span></button>
                  <button class="btn btn-primary submit-edit" id="s_button<%= i +1 %>" onclick="submitEdit('reviewTextArea<%= i + 1 %>','<%= user_comment[i].COMMENT_ID %>')" style="display: none;">Submit</button>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
        <div class="container all-review">
          <% if(all_comment.length != 0) { %>
            <label for="">Reviews: </label><br>
            <% for(let i=0 ;i < all_comment.length ; i++) { %>
              <div class="review-container">
                <label for=""> Review by <span style="font-weight: 600;"><%=all_comment[i].NAME%></span> :</label>
                <br>
                <textarea class="review-text" name="all_review" maxlength="1000" readonly> <%= all_comment[i].COMMENT_TEXT %></textarea>
              </div>
            <% } %>
          <% } %>
        </div>
    </main>
  <%-include('layouts/footer.ejs',{})%>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script>
        function comment(event) {
          event.preventDefault()
          const model_color_id = '<%= product[0].MODEL_COLOR_ID %>'
          const comment_text = document.getElementById('reviewInput').value
          const user_id = '<%= user_info[0].ID %>'
          fetch('/cardetails/comment',{
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({model_color_id,comment_text})
          }).then(res=>res.json())
          .then(res=>{
            if(res.message == "comment added successfully") {
              window.location.href = '/cardetails?car_id=' + model_color_id + '&user_id=' + user_id
            }
          })
        }
      </script>

<script>
  const initialRating = '<%= user_rating[0].RATE %>';
  function setInitialRating() {
    const stars = document.querySelectorAll('.rating .star');
    const selectedRating = document.getElementById('selectedRating');

    // Reset all stars to inactive
    stars.forEach(star => star.classList.remove('active'));

    // Set the initial stars as active
    for (let i = 0; i < initialRating; i++) {
      stars[i].classList.add('active');
    }

    // Display the initial rating
    selectedRating.textContent = `Selected Rating: ${initialRating}`;
  }

  // Call the function when the page loads
  window.onload = setInitialRating;

  // Function to handle the rating selection
  function setRating(event) {
    const stars = document.querySelectorAll('.rating .star');
    const selectedRating = document.getElementById('selectedRating');


    // Reset all stars to inactive
    stars.forEach(star => star.classList.remove('active'));

    // Get the selected star
    const selectedStar = event.target;

    let i;
    // Set all stars up to the selected one as active
    for ( i = 0; i <= stars.length; i++) {
      stars[i].classList.add('active');
      if (stars[i] === selectedStar) {
        break;
      }
    }
    const al_rated = '<%= rated %>'
    const model_color_id = '<%= product[0].MODEL_COLOR_ID %>'
    const user_id = '<%= user_info[0].ID %>'
    i = i+1;
    if(al_rated == 0) {
      fetch('/cardetails/rate',{
        method: 'POST',
        headers: {
          'Content-type': 'application/json'
        },
        body: JSON.stringify({model_color_id,i})
      }).then(res=>res.json())
      .then(res=>{
        if(res.message = "product rated successfully") {
          window.location.href = '/cardetails?car_id=' + model_color_id + '&user_id=' + user_id
        }
      })
    }
    else {
      fetch('/cardetails/updateRating',{
        method: 'POST',
        headers: {
          'Content-type': 'application/json'
        },
        body: JSON.stringify({model_color_id,i})
      }).then(res=>res.json())
      .then(res=>{
        if(res.message = "raitng updated successfully") {
          
        }
      })
    }

  }
</script>
<script>
    function toggleEditMode(button,reviewId,submit_button_id) {
    const reviewTextArea = document.getElementById(reviewId);
    const submitEditButton = document.getElementById(submit_button_id);
    reviewTextArea.readOnly = false;
    button.style.display = "none";
    submitEditButton.style.display =   "block";
  }

  function adjustTextareaHeightOnLoad() {
    var texts = document.getElementsByName('user_review')
    for(var i= 0 ;i<texts.length;i++) {
      texts[i].rows = Math.ceil(texts[i].scrollHeight/20)
    }
  }

  adjustTextareaHeightOnLoad();

  function adjustTextareaHeightOnLoad2() {
    var texts = document.getElementsByName('all_review')
    for(var i= 0 ;i<texts.length;i++) {
      texts[i].rows = Math.ceil(texts[i].scrollHeight/20)
    }
  }

  adjustTextareaHeightOnLoad2();

  function submitEdit(id,comment_id) {
    var model_color_id = '<%= product[0].MODEL_COLOR_ID %>'
    var text = document.getElementById(id).value
    var user_id = '<%= user_info[0].ID %>'
    fetch('/cardetails/editcomment',{
      method : 'POST',
      headers : {
        'Content-type' : 'application/json'
      },
      body : JSON.stringify({comment_id,text})
    }).then(res=>res.json())
    .then(res=> {
      if(res.message == "comment edited successfully") {
        window.location.href = '/cardetails?car_id=' + model_color_id + '&user_id=' + user_id
      }
    })
  }

</script>
</body>
</html>