<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WheelBazaar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" >
        <div class="container-fluid">
          <a class="navbar-brand" href="">WheelBazaar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Brands
                </a>
                <ul class="dropdown-menu">
                  <%for(let i=0;i<company_names.length;i++) {%>
                    <li><a class="dropdown-item" href="/showBrandWise/<%=company_names[i].NAME.split(' ').join('')%>"><%=company_names[i].NAME%></a></li>
                  <%}%>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Car types
                </a>
                <ul class="dropdown-menu">
                  <%for(let i=0;i<car_types.length;i++) {%>
                    <li><a class="dropdown-item" href="/showTypeWise/<%=car_types[i].TYPE_NAME.split(' ').join('')%>"><%=car_types[i].TYPE_NAME%></a></li>
                  <%}%>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search" id="search" action="/searchByCarName" method="post">
              <input class="form-control me-2" type="search" placeholder="Search cars" aria-label="Search" id="searchBar" name="searchBar">
              <button class="btn btn-outline-warning me-2" type="submit">Search</button>
              <button class="btn btn-outline-warning" type="button">Login</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container border" id="searchRes">
            <%for(let i=0;i<result.length;i++) {%>
              <div class="card" style="width: 100;">
                <img src="<%=result[i].CAR_IMAGE_URL%>" style="width: 25;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=result[i].MODEL_NAME%></h5>
                  <p class="card-text">Price: <%=result[i].PRICE%></p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            <%}%>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>